/* apps/smart_theme/smart_theme/public/scss/fonts.scss */

@font-face {
  font-family: "Cairo";
  src: url("/assets/smart_theme/fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("/assets/smart_theme/fonts/NotoSansArabic-Regular.ttf") format("truetype");
}
